<!DOCTYPE html>
<html>

<head>
    <title>Sign Up | TODO LIST</title>
    <link rel="icon" href="https://img.icons8.com/cotton/2x/checklist.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>

<body>
    <style>
        h1 {
            font-family: 'Lemon', cursive;
            text-align: center;
        }

        p {
            font-family: 'Lemon', cursive;
            text-align: center;
        }

        input {
            font-family: 'Lemon', cursive;
        }

        label {
            font-family: 'Lemon', cursive;
            text-align: center;
        }
        body{
            background-color: #005c99;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-image: url('https://repository-images.githubusercontent.com/276388704/eb978200-fe82-11ea-9259-ef8e06646d61');
        }
        button {
            font-family: 'Lemon', cursive;
            text-align: center;
        }

        .container {
            border-radius: 10px;
            padding: 20px;
            /* border: 1px solid grey; */
        }
    </style>
    <nav class="navbar navbar-default navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-family: 'Lemon', cursive;"><i class="home icon"></i>Home
                </a>
                <a class="navbar-brand" href="/todo" style="font-family: 'Lemon', cursive;"><i
                        class="calendar check icon"></i>Todo
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-auto">
                    <%if(!currentUser){%>
                    <li><a href="/login" style="font-family: 'Lemon', cursive;">Login</a></li>
                    <li>
                        <a href="/register" style="font-family: 'Lemon', cursive;">Sign Up</a>
                    </li>
                    <%}else{%>
                    <li>
                        <a href="" style="font-family: 'Lemon', cursive;">Signed in as <%=currentUser.username%></a>
                    </li>
                    <li>
                        <a href="/logout" style="font-family: 'Lemon', cursive;">Logout</a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <%if(!error.length == 0){%>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <p><%=error%></p>
            </div>
        </div>
    <%}%>
    <div class="container" align="center">
        <form action="/register" method="POST">
            <h1>Sign Up</h1>
            <hr>
            <label for="username">Email:</label>
            <input class="form-control" type="email" autocomplete="off" placeholder="Email.." name="username" id="username"><br>
            <label for="password">Password:</label>
            <input class="form-control" minlength="8" type="password" placeholder="Password.." name="password" id="password"><br>
            <label for="password">Fullname:</label>
            <input class="form-control" type="text" placeholder="Fullname.." autocomplete="off" name="fullname" required id="password"><br>
            <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
            <input type="checkbox" onclick="toggle()" style="font-family:'Lemon', cursive;">
            <label>Show Password</label>
            <hr>
            <a href="/login" style="font-family:'Lemon', cursive; color: white">Already have an account? Login</a>
        </form>
    </div>
    <hr>
    <script>
		function toggle() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
     }
	</script>
</body>

</html>